{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>List of Course</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Label</th>
                <th scope="col">Formation</th>
                <th scope="col">Exercices</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courseList %}
                <tr>
                    <td>{{ course.id }}</td>
                    <td>{{ course.label }}</td>
                    <td>{{ course.formation }}</td>
                    <td>{{ course.exercices | length }}</td>
                    <td><a class="btn btn-warning" href="{{ path('course_update', {'id': course.id}) }}"><i class="far fa-edit"></i> Edit</a> <a class="btn btn-danger" href="{{ path('course_delete', {'id': course.id}) }}"><i class="far fa-trash-alt"></i> Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}