{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <main class="container">
        <h1>List of Formation</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Label</th>
                <th scope="col">Courses</th>
                <th scope="col">Users</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for formation in formationList %}
                <tr>
                    <td class="align-middle">{{ formation.id }}</td>
                    <td class="align-middle">{{ formation.label }}</td>
                    <td class="align-middle">{{ formation.courses | length }}</td>
                    <td class="align-middle">{{ formation.users | length }}</td>
                    <td class="align-middle"><a class="btn btn-primary" href="{{ path('formation_update', {'id': formation.id}) }}"><i class="far fa-edit"></i> Edit</a> <a class="btn btn-danger" href="{{ path('formation_delete', {'id': formation.id}) }}"><i class="far fa-trash-alt"></i> Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}