{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container">
        <h1>{{ title }}</h1>

        {{ form_row(form.file) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.formations) }}
        {{ form_row(form.exercices) }}
        {{ form_row(form.save, {'label': button_label}) }}
    </main>
{% endblock %}
