{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="container">
        <h1>{{ title }}</h1>

        {{ form_row(form.label) }}
        {{ form_row(form.users) }}
        {{ form_row(form.course) }}
        {{ form_row(form.save, {'label': button_label}) }}
    </main>
{% endblock %}