{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>List of Exercice</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Label</th>
                <th scope="col">Course</th>
                <th scope="col">Users</th>
                <th scope="col" colspan="2">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for exercice in exerciceList %}
                <tr>
                    <td>{{ exercice.id }}</td>
                    <td>{{ exercice.label }}</td>
                    <td>{{ exercice.course }}</td>
                    <td>{{ exercice.users | length }}</td>
                    <td><a class="btn btn-warning" href="{{ path('exercice_update', {'id': exercice.id}) }}"><i class="far fa-edit"></i> Edit</a> <a class="btn btn-danger" href="{{ path('exercice_delete', {'id': exercice.id}) }}"><i class="far fa-trash-alt"></i> Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}